<!DOCTYPE html>
<html lang="en">
{% load static%}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>SignIn</title>
    <style>
        body{
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .AppFormRight{
            /* min-height: 110vh; */
            background-image: linear-gradient(to right top, #000000, #270b11, #460914, #640210, #800000);;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>

    <br>
    <br><br>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form method="post" action="{%url 'accounts:user_login' %}" class="col-md-9">
                {% csrf_token %}
                <div class="AppForm shadow-lg">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <div class="AppFormLeft">

                                <h1 style="color: maroon;">Sign In</h1>
                                <br>
                                <div class="form-group position-relative mb-4">
                                    <input type="text"
                                        class="form-control border-top-0 border-right-0 border-left-0 rounded-0 shadow-none"
                                        id="username" name="username" placeholder="Username">
                                    <i class="fa fa-user-o"></i>
                                </div>
                                <div class="form-group position-relative mb-4">
                                    <input type="password"
                                        class="form-control border-top-0 border-right-0 border-left-0 rounded-0 shadow-none"
                                        id="password" name="password" placeholder="Password">
                                    <i class="fa fa-key"></i>
                                </div>
                                <div class="row  mt-4 mb-4">
                                    <!-- <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" name="chk"
                                                id="defaultCheck1">
                                            <label class="form-check-label" for="defaultCheck1">
                                                Remember me
                                            </label>
                                        </div>
                                    </div> -->
                                    <div class="col-md-6 text-right">
                                        <a href="/accounts/password_reset/">Forgot Password?</a>
                                    </div>
                                </div>

                                <button class="btn btn-success btn-block shadow border-0 py-2 text-uppercase style="
                                    color:white">Sign in
                                </button>

                                <p class="text-center mt-5">
                                    Don't have an account?
                                    <span><a href="{% url 'accounts:register'%}">Create your account</a></span>
                                </p>

                            </div>

                        </div>
                         <div class="col-md-6">
                            <div
                                class="AppFormRight position-relative d-flex justify-content-center flex-column align-items-center text-center p-5 text-white">
                                <h2 class="position-relative px-4 pb-3 mb-4">Attendance Made Easy!</h2>
                                <p>It's so important to understand your good attendance ups your chances of graduating.
                                </p>
                            </div> 
                            <!-- <div class="d-flex justify-content-center flex-column align-items-center text-center p-5 text-white" id="i1"> -->

                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>